/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*belows are my code*/
/*
@font-face {
  font-family: 'Jeju Hallasan';
  src: url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css) format("truetype");
}
*/
html {
/*font-family: 'Jeju Hallasan', serif;*/
font-size: 1rem;
line-height: 1.5rem;
}

a {
     background-color: transparent;
     text-decoration: none;
}


/*result.html*/

	/*.result-wrapper에 대한 설정은 .home-wrapper에 함께 되어 있음*/
.table {
	margin: auto;
	width: 100%;
	height: width*30%;
	/*border-collapse: collapse;*/
	border: 1px solid grey;
}
.table, .cell_title, .cell_content {
	border: 1px solid grey;
	text-align: center;
	vertical-align: middle;
	background-color: white;
}
.cell_title {
	background-color: #D4F4FA; 
}
.small_picture {
	width: 100%;
	margin: 0 0;
}
.cell_picture {
	vertical-align: middle;
	text-align: center;
	width: 27%;
}
.cell_content {
	font-weight: bold;
}
.box {
	display: block;
	margin: auto auto;
	/*
	background-image: url('/assets/Hibiki Ganaha.jpg');
	background-size:cover;
    background-repeat:no-repeat;
	*/
	width: 100%;
}
.card_picture {
	width: 100%;
}

/*index.html*/

.navbar-wrapper {
	width: 100%;
	background-color: #CC3D3D;
	vertical-align: middle;
	box-shadow: 0px 2px 2px gray;
	overflow: hidden;
}

.navbar-wrapper .nav-item, .navbar-wrapper .nav-title {
	float: left;
	color: white;
	text-decoration: none;
	list-style: none;
	padding: 0.6rem 0.3rem;
	font-size: 1rem;
}
	/*nav상의 바로가기 버튼이 전체로서는 우측으로 float되도록*/
.navbar-wrapper .nav-list {
	float: right;
}

.navbar-wrapper .nav-title {
	font-size: 1.2rem;
	font-style: italic;
	font-weight: bold;
}
	/*li테그중 sepator 클래스의 padding을 0으로 만들어주기 위한것. 항상 바로 위의 코드 아래에 위치해야 함. 주의할것*/
.navbar-wrapper .nav-item.separator {
	padding: 0.6em 0;
}

.navbar-wrapper:hover .nav-item:hover {
	background-color: #FFA9A9;
	color: black;
}
	/*아래 두 태그는 nav상의 바로가기 버튼중 링크가 있는 것이 a태그의 특성으로 색상이 바뀌는 것을 방지*/
.navbar-wrapper .linktext:link {
	color: white;
}
.navbar-wrapper .linktext:visited {
	color: white;
}

/*home.html*/
.home-wrapper, .result-wrapper {
	text-align: center;
	overflow: hidden;
	padding: 2rem;
	line-height: 1.5em;
}
.home-wrapper .hello .h1 {
	font-style: italic;
	font-weight: bold;
	font-size: 1.5rem;
}
.home-wrapper .hello .h3 {
	font-size: 0.8rem;
}
.home-wrapper .search-btn {
	font-size: 1.5rem;
	height: 2.5rem;
	width: 5rem;
	border-radius: 0.3rem;
	background-color: 
}
.home-wrapper .search-btn {
	margin: 1.6rem;
	box-shadow: 0 2px grey;
}
.home-wrapper .search-btn:hover {
	background-color: #CC3D3D;
	color: white;
}




/******************/

/* Large desktop */
@media (min-width: 1200px) {
	.box {
		width: 700px;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.box {
		width: 700px;
	}
}
	
/* Landscape phone to portrait tablet */
@media (max-width: 767px) and { ... }
 
/* Landscape phones and down */
@media (max-width: 480px) { ... }


/********************/


/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
  /* some CSS here */
	html {
		font-size: 3rem;
	}
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
  /* some CSS here */
 	html {
		font-size: 1.5rem;
	}
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
  /* some CSS here */
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
  /* some CSS here */
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
  /* some CSS here */
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
  /* some CSS here */
}