<div class="home-wrapper">
	<div class="hello">
		<div class="jejugothic italic one_p_five_rem">"우리는, 제공한다</div>
		<div class="jejugothic italic one_p_five_rem">아이돌 당신의 최적의"</div>
		<div class="jejugothic italic one_p_two_rem">당신의 최애캐를 찾으세요</div>
	</div>
	<button class="search-btn" type="button" onclick="location.href='/search'">
		검색
	</button>
	
</div>
