<div class="result-wrapper">
	<%= render 'list' %>
	
	<div id="result_nothing"> 
	    <img src='/assets/nothing.jpg' alt="nothing"> 
	    <img src='/assets/nothing2.jpg' alt="nothing"> 
	</div>
</div>

