<!DOCTYPE html>
<html>
<head>
  <title>GetyouridolRor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar-wrapper kurenai-gra">
	<nav class="navbar">
		<a href="/" class="linktext"><div class="nav-title italic bold">
			Get.Your.Idol</div></a>
		<ui class="nav-list">
			<a href="/" class="linktext"><li class="nav-item">Home</li></a>
			<li class="nav-item separator">|</li>
			<a href="/search" class="linktext"><li class="nav-item">Search</li></a>
			<li class="nav-item separator">|</li>
			<li class="nav-item">About</li>
		</ui>
	</nav>
</div>

<%= yield %>

</body>
</html>
